/vendor/
/node_modules/
/storage/*.key
/storage/app/**
!/storage/app/.gitignore
/storage/framework/**
!/storage/framework/.gitignore
/storage/logs/**
!/storage/logs/.gitignore
/.env
/.phpunit.result.cache
/public/storage
